@using Extensions.Helpers
@model SDC.Web.Models.DetailsIssueViewModel

@{
    ViewBag.Title = Model.Title + " - Details";
}

<h2>@Model.Title</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        @if (Model.ParentIssueId != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ParentIssueTitle)
            </dt>

            <dd>
                @Html.ActionLink(Model.ParentIssueTitle, "Details", new {id = Model.ParentIssueId})
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<div class="row" style="margin: 10px 0">
    @if (Model.CurrentTeamCanAssign)
    {
        using (Html.BeginForm("Assign", "Issues"))
        {
            @Html.Hidden("id", Model.Id)
            <input type="submit" value="Assign" class="col-sm-2 btn btn-default" style="margin-right: 10px" />
        }
    }
    @if (Model.CurrentTeamCanStartProgress)
    {
        using (Html.BeginForm("StartProgress", "Issues"))
        {
            @Html.Hidden("id", Model.Id)
            <input type="submit" value="Start Progress" class="col-sm-2 btn btn-default" style="margin-right: 10px" />
        }
    }
    @if (Model.CurrentTeamCanSendToReview)
    {
        using (Html.BeginForm("SendToReview", "Issues"))
        {
            @Html.Hidden("id", Model.Id)
            <input type="submit" value="Send To Review" class="col-sm-2 btn btn-default" style="margin-right: 10px" />
        }
    }
    @if (Model.CurrentTeamCanUnassign)
    {
        using (Html.BeginForm("Unassign", "Issues"))
        {
            @Html.Hidden("id", Model.Id)
            <input type="submit" value="Unassign" class="col-sm-2 btn btn-default" style="margin-right: 10px" />
        }
    }
</div>

<div class="row" style="margin: 10px 0">
    @if (Model.CurrentUserCanEdit)
    {
        @Html.ActionButton("Add child issue", "Create", new { projectId = Model.ProjectId, parentIssueId = Model.Id }, new { style = "margin-right: 10px", @class = "col-sm-2 btn btn-default" })
        @Html.ActionButton("Edit", "Edit", new { id = Model.Id }, new { style = "margin-right: 10px", @class = "col-sm-2 btn btn-default" })
    }
    @Html.ActionButton("Back to List", "Index", new { projectId = Model.ProjectId }, new { style = "margin-right: 10px", @class = "col-sm-2 btn btn-default" })
</div>

<h4>Child Issues</h4>

@Html.Partial("IssuesTablePartial", Model.ChildIssues)

<h4>Performers</h4>

@Html.Partial("TeamsProgressTablePartial", Model.TeamsProgress)