@using SDC.Web.Models
@model IEnumerable<IssueViewModel>
           
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

    @{
        var counter = 0;
    }

    @foreach (var item in Model)
    {
        counter++;

        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.ActionLink(item.Title, "Index", "Comments", new { issueId = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td align="right">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (Request.IsAuthenticated)
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>