@using Extensions.Helpers
@using SDC.Web.Models
@model IEnumerable<SDC.Web.Models.CommentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" style="margin: 10px 0">
    @if (Request.IsAuthenticated)
    {
        @Html.ActionButton("Create New", "Create", new {issueId = ViewBag.IssueId}, new
        {
            style = "margin-right: 10px",
            @class = "col-sm-2 btn btn-default"
        })
    }
    @Html.ActionButton("Back to Issues", "Index", "Issues", new {projectId = ViewBag.ProjectId}, new {@class = "col-sm-2 btn btn-default"})
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>
    
    @{
        int counter = 0;
    }

    @foreach (CommentModel item in Model)
    {
        counter ++;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td align="right">
                @Html.ActionLink("Details", "Details", new {id = item.Id})
                @if (Request.IsAuthenticated)
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                    @:|
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                }
            </td>
        </tr>
    }
</table>